* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 120px;
    width: 100%;
    padding: 10px;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    width: 30%;
}
nav ul {
    width: 100%;
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-between;
}

header img {
    height: 100%;
    border-radius: 80px;
}
/*---------------*/
main {
    display: flex;
    width: 60%;
    margin: 30px auto;
}

main p {
    margin-top: 15px;
}

