* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #e3dbc8;
  width: 100%;
  height: 120px;
}

h1 {
  color: #333;
  text-align: center;
  padding-top: 30px;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  margin: 18px 0 18px 0;
  font-size: 22px;
  line-height: 28px;
}

video {
  margin-top: 40px;
}

.cuadro {
  background-color: #c7bca4;
  width: 99%;
  height: 90px;
  border-radius: 28px;
  color: white;
  font-size: 28px;
  padding-top: 30px;
}



.div-valores-cortes-de-pan {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.corte-de-pan {
  width: 800px;
  height: 600px;
  border-radius: 30px;
}
