* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 19, 19);
    color: rgb(218, 218, 218);
}

header {
    width: 100%;
    height: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 70px;
}

.img-violeta {
    width: auto;
    border-radius: 50%;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: rgb(224, 224, 224);
}

img {
    width: 100%;
}

h2, h3 {
    font-size: 28px;
    color: rgb(231, 129, 82);
}

.section-intro {
    width: 80%;
    max-width: 1000px;
    margin: 100px auto;
    margin-bottom: 50px;
}


.section-info {
    display: flex;
    gap: 30px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.section-divs-info, .aside-info {
    flex: 1;
}

button {
    width: 100px;
    height: 35px;
    font-size: 18px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: rgb(86, 190, 76);
    cursor: pointer;
}

.tracklist {
    display: flex;
    flex-wrap: wrap;
}

footer {
    height: 60px;
}