* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
}
/*---------------Header--------------*/ 
header {
    background-color: rgb(215, 25, 45);
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 12px;
}

.header-ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.esp-barra {
    padding-right: 18px;
}

.icons-lista {
    width: 25px;
    padding-right: 8px;
}

.icons-lista-arrow {
    width: 25px;
    padding-left: 8px;
}

.header-ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 5px;
    color: white;
}

.header-ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

nav {
    background-color: white;
    width: 100%;
}

nav ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
}

nav ul li {
    color: rgb(82, 82, 82);
    width: 100%;
    height: 100%;
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(236, 236, 236);
}

nav ul li:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

/*---------------Hero--------------*/ 

.section-img {
    background-image: url(/img/banner_ibe.jpg);
    height: 450px;
    width: 100%;
    padding-left: 25%;
}

.h2-packs {
    font-weight: 100;
    font-size: 70px;
    padding-top: 20px;
    color: white;
}

.ul-packs {
    padding-left: 25px;
}

.ul-packs li {
    padding: 5px 0;
    font-size: 18px;
    color: white;
}

button {
    margin-top: 30px;
    width: 300px;
    height: 55px;
    background-color: rgb(215, 25, 45);
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px;
}

button:hover {
    background-color:rgb(175, 14, 30);
    cursor: pointer;
}

.section-buscador-vuelos {
    width: 100%;
    height: 400px;
    border: 1px solid;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/*-------------Section vuelo/hotel------------*/ 
.section-vuelo-hotel {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    margin-top: -20px;
}

.div1, .div2, .div3 {
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.div-titulo {
    color: rgb(215, 25, 45);
    border-top: 2px solid;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    font-weight: 100;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.226);
}

.div-titulo img {
    height: 24px;
    padding-top: 5px;
}

.div-info-vuelo {
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 25, 45);
    color: white;
    height: 370px;
}

.img-persona {
    width: 100%;
}

.div-info-rojo {
    padding: 30px;
}

.div-info-vuelo:hover {
    background-color:rgb(175, 14, 30);
    cursor: pointer;
}

.div-arrow h3 {
    font-size: 25px;
    font-weight: 100;
}

.div-info-vuelo p {
    padding-top: 25px;
    font-size: 14px;
}

.div-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flecha-dcha {
    width: 18px;
}

/* ----------Seccion planifica vuelo----------- */


footer {
    width: 100%;
    height: 50px;
}