* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20%;
}

.section-header {
    height: 80px;
    background-color: rgb(215, 25, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20%;
}

figure {
    padding-top: 3px;
}

.header-ul {
    display: flex;
    justify-content: center;
    gap: 1px;
    list-style: none;
}

.header-ul li {
    padding: 0 30px;
    font-size: 14px;
}

nav ul {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

nav ul li{
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    color: rgb(102, 102, 102);
    list-style: none;
    padding: 17px 60px;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.section-img {
    background-image: url(/img/iberia_banner.jpg);
    height: 450px;
    width: 100%;
    padding-left: 25%;
}

.h2-black {
    font-weight: 100;
    font-size: 70px;
    padding-top: 20px;
}

li {
    padding: 5px 0;
    font-size: 18px;
}

button {
    margin-top: 30px;
    width: 300px;
    height: 85px;
    background-color: rgb(215, 25, 45);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.section-buscador-vuelos {
    width: 100%;
    height: 400px;
    border: 1px solid;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer {
    width: 100%;
    height: 50px;
}