* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/ 
header {
    background-color: rgb(215, 25, 45);
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 12px;
}

.header-ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.esp-barra {
    padding-right: 18px;
}

.icons-lista {
    width: 25px;
    padding-right: 8px;
}

.icons-lista-arrow {
    width: 25px;
    padding-left: 8px;
}

.header-ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 5px;
}

nav {
    background-color: white;
    width: 100%;
}

nav ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
}

nav ul li {
    color: rgb(82, 82, 82);
    width: 100%;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    border: 1px solid rgb(236, 236, 236);
}

nav ul li:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

/*hero*/
.section-img {
    background-image: url(/img/iberia_banner.jpg);
    height: 450px;
    width: 100%;
    padding-left: 25%;
}

.h2-black {
    font-weight: 100;
    font-size: 70px;
    padding-top: 20px;
}

li {
    padding: 5px 0;
    font-size: 18px;
}

button {
    margin-top: 30px;
    width: 300px;
    height: 85px;
    background-color: rgb(215, 25, 45);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.section-buscador-vuelos {
    width: 100%;
    height: 400px;
    border: 1px solid;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer {
    width: 100%;
    height: 50px;
}