* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

header li {
    list-style: none;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 236, 236);
    padding: 16px 8%;
}

header ul {
    display: flex;
    gap: 25px;
}