* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body {
    width: 60%;
    margin: 0 auto;
} */

header {
    width: 100%;
    height: 110px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 60%;
}

.nav ul {
    display: flex;
    justify-content: space-around;
}

.nav-ul li {
    list-style: none;
    color: rgb(165, 81, 42);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

section {
    width: 60%;
    margin: 0 auto;
}

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

h1 {
    font-size: 40px;
    margin: 30px 0;
}

p {
    margin: 20px 0;
}

h2, h3 {
    margin: 40px 0 10px 0;
}

section li {
    padding-top: 15px;
}

.ings-pasos {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
}



.ings {
    width: 30%;
    padding: 10px;
}

.pasos {
    width: 80%;
    padding: 10px;
}