* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.flex {
    display: flex;
    gap: 1rem;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: lightblue;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/*--------------------------------*/
.section {
    gap: 8%;
    width: 50%;
    margin: 4rem auto;
    align-items: center;
    border: 2px solid lightblue;
    background-color: rgba(173, 216, 230, 0.39);
    border-radius: 10px;
    padding: 2rem;
}

/* .div-img {
    width: 100%;
    min-width: 150px; 
}

.div-img img {
    width: 100%;
    object-fit: cover;
    height: auto;
} */

.contenido-auri {
    flex-direction: column;
    gap: 1.5rem;
}

button {
    width: 6rem;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color:lightblue;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(156, 212, 231);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .section {
        width: 70%;
    }
}

/*pantalla grande*/
@media (min-width: 700px) {
    .material-symbols-outlined {
        display: none;
    }
}

/*pantalla pequeña*/
@media (max-width: 700px) {
    .contenido {
        position: fixed;
        right: -10rem;
        top: 5.5rem;
        padding: 2rem;
        background-color: lightblue;
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s;
    }

    .section {
        width: 70%;
        flex-direction: column;
    }

    /* .div-img img {
        width: 50%;
    } */
}

.nuevo-fondo {
    background-color: rgba(11, 71, 148, 0.445);
}

.mostrar {
    right: 0;
    opacity: 1;
}
