* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(194, 194, 194);
    width: 100vw;
    height: 100vh;
}

section {
    background-color: rgb(255, 208, 208);
    width: 58%;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

.div-container {
    background-color: rgb(163, 206, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
}

.div-container div {
    background-color: rgb(249, 255, 199);
}

.div-container div img {
    width: 100%;
}

h3 {
    font-weight: 400;
    margin: 20px 0;
}

button {
    background-color: rgb(219, 48, 48);
    color: white;
    width: 180px;
    padding: 15px;
    border: none;
}