* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2%;
    background-color: rgb(227, 245, 255);
}

header img {
    height: 50px;
}

header nav {
    width: 100%;
    padding-right: 4%;

}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    list-style: none;
}

.a-nav {
    text-decoration: none;
    color: black;
}

header button {
    height: 40px;
    width: 150px;
    background-color: rgb(179, 23, 36);
    border: none;
    border-radius: 6px;
}

header button a, main button a {
    color: white;
    text-decoration: none;

}

/*------------------------------*/
main {
    width: 60%;
    height: 100%;
    margin: 40px auto;

}

main h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

main p {
    margin-bottom: 30px;
}

main h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

main ul li {
    padding: 5px 0;
}

main div {
    height: 200px;
    display: flex;
    gap: 50px;

}

.img-fiordos {
    object-fit: contain;
}

main button {
    height: 60px;
    width: 250px;
    background-color: rgb(179, 23, 36);
    border: none;
    border-radius: 6px;
    margin-top: 30px;
}

main button a {
    font-family: 20px;

}