h1 {
    background-color: transparent;
    color: var(--fuente-oscura);
    text-align: left;
    padding: 0;
}

.section-form {
    width: 40%;
    min-width: 300px;
    margin: 60px auto;
}

.form {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensaje-exito {
  color: transparent;
  transition: all 0.3s ease; 
}

.preguntas {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contratacion {
    width: 50%;
    min-width: 300px;
    margin: 60px auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--secundario);
    border-radius: 10px;
}

.contratacion a {
    margin-bottom: 20px;
}
.contratacion hr {
    margin: 10px 0;
}

@media (max-width: 1200px) {
    .section-form {
        width: 50%;
    }
    .preguntas, .contratacion {
        width: 70%;
    }
}
