/*--------------MAIN-----------------*/
.hero {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: clamp(1.5rem, 1.8vw, 2.1rem);
  background-color: var(--fuente-oscura);
  color: var(--fuente-clara);
  padding: 10px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------------ */
.quien-es {
  width: 50%;
  margin: 80px auto;
}

h2 {
  font-size: clamp(1.5rem, 1.8vw, 2rem);
  margin-bottom: 30px;
}

.quien-es-contenido {
  width: 100%;
  display: flex;
  gap: 30px;
}

.div-img-quien {
  width: 100%;
}

.div-img-quien img {
  width: clamp(14rem, 15vw, 25rem);
}

/*------------------- */
.lanzamiento {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 80px auto;
  background-color: var(--secundario);
  border: 1px solid var(--detalles);
  border-radius: 10px;
  padding: 1rem;
}

.lanzamiento h3 {
  font-size: clamp(1.4rem, 1.6vw, 2rem);
}

.lanzamiento div {
  width: 40%;
}

.lanzamiento h3 {
  margin-bottom: 10px;
}

.lanzamiento div img {
  width: 100%;
  border-radius: 10px;
}

.lanzamiento a {
  text-decoration: none;
  color: var(--fuente-oscura);
}

/*------------------ */
.destacados {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 0 auto;
}



.contenedor-destacados {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contenedor-destacados div {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--fuente-oscura);
  border-radius: 10px;
  padding: 1rem;
}

.contenedor-destacados img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.contenedor-destacados h3 {
  font-size: clamp(1.3rem, 1.4vw, 1.5rem);
}
.contenedor-destacados p {
  font-size: clamp(1.1rem, 1.2vw, 1.3rem);
}

.contenedor-destacados button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: var(--fuente-oscura);
  color: var(--fuente-clara);
  font-size: clamp(0.9rem, 1vw, 1.2em);
}

.contenedor-destacados button:hover {
  background-color: var(--primario);
  color: var(--fuente-oscura);
  cursor: pointer;
}

.link-ver-mas {
  display: block;
  text-decoration: none;
  color: var(--fuente-oscura);
  font-size: clamp(1.2rem, 1.3vw, 1.4rem);
  transition: all .3s;
}

.link-ver-mas:hover {
  color: var(--hover);
  transform: scale(1.2);
  transition: all .3s;
}


/*--------------MEDIA--------------*/
@media (max-width: 1400px) {
  .quien-es,
  .lanzamiento,
  .destacados {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .lanzamiento {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lanzamiento div {
    width: 350px;
  }

  .lanzamiento div img {
    width: 350px;
  }
}

@media (max-width: 700px) {
  .quien-es-contenido {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .nav-contenido li {
    width: 100%;
    text-align: left;
  }

  .lanzamiento {
    min-width: 250px;
  }

  .lanzamiento div {
    width: 100%;
  }

  .lanzamiento div img {
    width: 100%;
  }
}

